* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Nunito", sans-serif;
}
/* Phần dùng chung */
.title h3 {
  font-size: 1rem;
  color: #dc4f72;
  font-weight: 700;
}
.title h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}
.title p {
  font-size: 1.2rem;
  color: gray;
}
.button {
  font-size: 14px !important;
  font-weight: bolder;
  padding: 15px 20px;
  text-decoration: none;
  color: #dc4f72;
  background-color: transparent;
  border-color: #dd5476 !important;
  border: 1px solid #dd5476;
  border-radius: 5px;
  transition: all 0.5s;
  font-weight: 700;
}

.button:hover {
  background-color: #dc4f72;
  color: white;
  border-color: #dc4f72;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}
/* up to top */
.uptotop {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  background-color: #e7849d;
  position: fixed;
  bottom: 80px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 3000;
}
.uptotop:hover {
  background-color: #dc4f72;
  color: white;
  text-decoration: none;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 1;
}
/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  background-color: #000000;

  z-index: 1003;
}

header .navbar-brand {
  color: #dd5476 !important;
  font-size: 1.6rem;
  font-family: sans-serif;
  font-weight: 700;
}

header .navbar-brand i {
  margin-right: 5px;
}
header .nav-link:hover,
.dropdown-item:hover {
  color: #dd5476 !important;
}
header .nav-link {
  color: white !important;
  font-weight: 300;
  transition: all 0.5s;
}
header .navbar-nav .dropdown i {
  font-size: 12px;
  padding-left: 3px;
}
header .nav-link::after,
.dropdown-item::after {
  content: "";
  height: 2px;
  width: 0px;
  background-color: #dd5476;
  display: block;
  transition: all 0.5s;
}
header .nav-link:hover:after,
.dropdown-item:hover::after {
  width: 20px;
}
.nav-item {
  padding: 0 10px;
}
.navbar-dark .navbar-nav .nav-link {
  padding: 15px 0;
}
.navbar-nav .nav-item.active .nav-link {
  color: #dd5476 !important;
}
.dropdown-toggle::after {
  border: none !important;
}

.dropdown-item {
  /* color: black !important; */
  color: white;
  background-color: #222222;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}
.dropdown-item {
  transition: all 0.5s;
}

.dropdown-item:hover {
  color: #dd5476 !important;
}
header .dropdown-menu {
  transform: translateX(-40px);
  background-color: #222222;
}
.dropdown-menu::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #222222;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  position: absolute;
  top: -9px;
  left: 45%;
  transform: rotate(45deg);
  border-right: none;
  border-bottom: none;
}
.navbar-dark .navbar-toggler {
  background-color: #dc4f72;
  border-color: #dc4f72;
  padding: 6px 8px;
}
.navbar-dark .navbar-toggler i {
  font-size: 20px;
  color: white;
}

/* Responsive header*/

@media screen and (max-width: 991.98px) {
  .navbar-nav {
    text-align: center;
  }
  header .navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
  }
  .dropdown-menu::before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #222222;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    position: absolute;
    top: -9px;
    left: 48%;
    transform: rotate(45deg);
    border-right: none;
    border-bottom: none;
  }
  header .dropdown-menu {
    transform: translateX(0px);
    text-align: center;
  }
  header .nav-link:hover:after,
  .dropdown-item:hover::after {
    width: 0px;
  }
}
/* banner */
#banner {
  margin-top: 80px;
}
.banner__wrapper {
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 60px;
}
#banner h1 {
  color: black !important;
}
.banner__img {
  transform: rotateX(180deg);
}
/* responsive banner */

@media screen and (max-width: 991.98px) {
  .banner__content .banner__text {
    margin-top: 50px;
  }
}
@media screen and (max-width: 575.98px) {
  #banner .title h1 {
    font-size: 2rem !important;
    /* thuộc tính không ăn */
  }
  #banner .banner__content .banner__text p {
    font-size: 16px;
  }
  #banner .banner__content button {
    padding: 10px 15px;
  }
}
/* Infor */
#infor {
  padding: 50px 0;
  background-color: #222222;
}

.infor__item {
  background-color: #151515;
  padding: 40px 30px;
  transition: all 0.5s ease-in;
  /* box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2); */
  transform: translateY(0);
}
.infor__item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
  background-color: #000000;
}
.infor__item img {
  padding-bottom: 15px;
}
.infor__item h4 {
  font-weight: 700;
  padding-bottom: 10px;
  color: white;
}
.infor__item p {
  color: gray;
}
/* responsive infor*/
@media screen and (max-width: 991.98px) {
  #infor .infor__text p {
    font-size: 16px;
  }
  #infor .infor__item {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  #infor .infor__text h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 575.98px) {
  #infor .infor__text h1 {
    font-size: 1.8rem;
  }
}

/* About Us */
#about {
  padding: 50px 0;
  background-color: #151515;
}

.about__content h1 {
  font-size: 2.1rem;
}
.about__content p {
  font-size: 1rem;
}
.about__content button {
  background-color: #dc4f72;
  color: white;
  transition: all 0.5s;
}
.about__content button:hover {
  background-color: #d62f58;
}
.about__img img {
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  transform: translateY(0);
  transition: all 0.5s;
}
.about__img img:hover {
  transform: translateY(-0.5rem);
}
/* responsive about */

@media screen and (max-width: 991.98px) {
  #about {
    padding: 50px 0;
  }
  #count .count__item {
    margin-bottom: 50px;
  }
}

/* Count */
.count__item {
  background-color: #222222;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 5px 7.5px rgba(20, 17, 17, 0.2);
  transition: all 0.5s;
}
.count__item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
.count__item strong {
  color: white;
}
.count__item h2 {
  padding-top: 10px;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: bolder;
  color: #dc4f72;
}
.count__item p {
  color: gray;
}

/* Intro */
#intro {
  padding: 60px 0;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(../images/bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.intro__content h3 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.intro__content p {
  color: #eee;
  padding-bottom: 1.8rem;
}
.intro__content button {
  border: #f8f9fa;
  background-color: #f8f9fa;
  color: black;
  transition: all 0.5s ease-out;
}
.intro__content button:hover {
  color: black;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
/* solution */
#solution {
  padding: 50px 0;
  background-color: #151515;
}
.solution__item {
  border: 1px solid #000000;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  transform: translateY(0);
  transition: all 0.5s ease;
  background-color: #222222;
}
.solution__item:hover {
  transform: translateY(-10px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.solution__item img {
  filter: grayscale(1);
  transition: all 0.5s;
}
.solution__item:hover img {
  filter: grayscale(0);
}
.solution__item a:first-of-type {
  display: block;
  position: relative;
  text-decoration: none;
  transition: all 0.5s;
}
.solution__item:hover a:first-of-type {
  color: #dc4f72;
}
.solution__item .date {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  background-color: #dc4f72;
  color: white;
  font-size: 18px;
  font-weight: 800;
}
.solution__item h5 {
  padding: 5px 15px;
  display: inline-block;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
}
.it__1 h5 {
  background-color: #fcdfe4;
  color: #dc4f72;
}
.it__2 h5 {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}
.it__3 h5 {
  background: rgba(0, 0, 255, 0.2);
  color: #5c5db3;
}
.solution__infor {
  padding: 20px 30px 30px 20px;
}
.solution__infor a {
  text-decoration: none;
  color: white;
}
.solution__infor h3 {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 8px 0;
}

.solution__infor p {
  color: gray;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.solution__infor .know {
  color: #dc4f72;

  font-weight: bold;
}
.solution__infor .know i {
  font-size: 12px;
  font-weight: bold;
  transform: translateX(0);
  transition: all 0.5s;
}
.solution__item:hover .know i {
  transform: translateX(4px);
}
/*Responsive Solution */
@media screen and (max-width: 991.98px) {
  #solution .solution__content {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #solution .slt__3 {
    margin-left: 25%;
  }
}

/* Dũng */
/* General FAQs */
#general {
  background-color: #222222;
}
#general h6 {
  color: #dc4f72;
}

#general h2 {
  font-size: 46px;
  font-weight: bold;
  color: white;
}
#general .title__header p {
  color: gray;
}
#general .title__header {
  max-width: 750px;
  margin: 0 auto;
}

#general img {
  width: 100%;
  margin: auto;
  border-radius: 5px;
  transition: all 0.5s;
}

#general img:hover {
  transform: translateY(-10px);
}

#general h2 button {
  font-size: 1.2rem;
}

#general h2 button {
  padding: 1.1rem 1rem;
}

.faq-image {
  position: sticky;
  top: 80px;
}

.title__bottom .card {
  border-radius: 5px;
  cursor: pointer;

  box-shadow: none;
  border: 1px solid;
  position: relative;
}
/* .title__bottom .card {
} */

.title__bottom .card i {
  color: white;
  position: absolute;
  right: 20px;
  top: 25px;
}
/* .title__bottom .card i::after {
  position: absolute;
  top: 0;
  right: 0px;
} */

.title__bottom .card-header {
  background-color: #151515;
  border-bottom: none;
  font-size: 20px;
  padding: 1.25rem;
  position: relative;
}

.title__bottom .card-body {
  padding: 0 1.25rem;
  padding-bottom: 1.25rem;
  color: white;
  background-color: #151515;
}

.title__bottom .card-header .card-link,
.title__bottom .card-header .card-body {
  color: white;
}

/* ==================== */

/* PROJECTS */
#projects {
  background-color: #151515;
}
#projects .header__projects {
  max-width: 750px;
  margin: 0 auto;
}

#projects .header__projects p:first-of-type {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1rem;
  color: #dc4f72;
}

#projects .header__projects h1 {
  font-weight: bold;
  font-size: 46px;
  color: white;
}

#projects .header__projects p {
  color: gray;
}

.bottom__content {
  display: block;
  width: 100%;
}

.bottom__projects {
  width: 70%;
  margin: auto;
}

.bottom__projects .nav-link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #4e5b61;
  text-decoration: none;
  border-radius: 0;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 3px solid #000000;
  padding: 15px;
}

.nav-pills .nav-item {
  width: 33.33%;
  text-decoration: none;
  border-radius: 0;
  padding: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #dc4f72;
  background-color: #151515;
  border-bottom: 3px solid #dc4f72;
  border-radius: 0;
}

.tab-content .btn {
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all 0.5s;
}

.tab-content h2 {
  font-weight: bold;
  color: white;
}

.tab-content p {
  color: #5a5a5a;
  font-size: 15.5px;
  line-height: 1.6rem;
}

.tab-content img {
  width: 100%;
  margin: auto;
  border-radius: 4px;
  transition: all 0.5s;
}

.tab-content img:hover {
  transform: translateY(-10px);
}

/* ==================== */

/* Our Clients Testimonials */
#testimonial {
  padding: 80px 0;
  background-image: linear-gradient(
      to right,
      rgba(247, 249, 252, 0.77),
      rgba(247, 249, 252, 0.77)
    ),
    url(../images/b2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.testimonial__text h1 {
  color: black;
}
.testimonial__item {
  /* display: flex;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  position: relative;
  padding: 20px 30px;
  background-color: white;
  border-radius: 8px;
}

.testimonial__item__content span {
  font-size: 2.5rem;
  position: absolute;
  left: 135px;
  right: 0;
  opacity: 0.2;
}

.testimonial__thumb {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid #d62f58;
  overflow: hidden;
  display: inline-block;
}
.testimonial__thumb img {
  width: 100%;
  min-height: 100%;
}

.testimonial__item__content h4 {
  font-size: 18px;
  color: #dc4f72;
}
.testimonial__item__content p:first-of-type {
  font-size: 16px;
}
.testimonial__item__content p:last-of-type {
  font-size: 14px;
}
.owl-carousel button.owl-dot {
  align-items: center;
  width: 40px;
  height: 5px;
  background-color: white;
  border: transparent;
  margin: 0 5px;
  outline: none;
}
.owl-carousel button.owl-dot:hover {
  background-color: #d62f58;
}
.owl-carousel button.owl-dot.active {
  background-color: #d62f58;
  border: 1px solid #d62f58;
  outline: none;
}

.owl-dots {
  margin-top: 30px;
  text-align: center;
}
/* ===================== */

/* Community */
#community {
  background-color: #151515;
}
#community h1 {
  width: 60%;
  margin: auto;
  font-weight: 700;
  color: white;
}

#community p {
  width: 70%;
  margin: auto;
  color: #5a5a5a;
  font-size: 1rem;
}

.button__community a {
  text-decoration: none;
  text-transform: uppercase;
}

#community .button:last-of-type {
  background-color: #dc4f72;
  color: white;
}

#community .button:last-of-type:hover {
  background-color: #d62f58;
}

/* ===================== */

/* FOOTER */
#footer {
  background-color: #222222;
}

#footer h4 {
  font-weight: 700;
  font-size: 20px;
  color: white;
}

#footer li {
  padding-bottom: 1rem;
  color: white;
}

#footer li a {
  text-decoration: none;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

#footer li a:hover {
  opacity: 0.8;
  color: #dc4f72;
}
.footer__button {
  padding: 12px 24px;
  background-color: #dc4f72 !important;
  color: white;
}
#footer button {
  font-size: 18px !important;
}
#footer input {
  height: auto;
}
#footer .form-control:focus {
  border: none;
}
.card {
  border-radius: 5px;
  border: none;
}
.card-body {
  background-color: #151515;
}
.card-body p {
  color: white;
}
#footer .copyright__footer p {
  color: white;
}

.subscribe .form-group {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.subscribe input {
  background-color: #222222;
  color: #2c3038;
  font-weight: 700;
}

.btn-outline-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.copyright__footer .row {
  justify-content: center;
}
.copyright__footer a {
  text-decoration: none;
}
.copyright__footer ul li i {
  color: white;
}
.copyright__footer ul li i:hover {
  color: #dc4f72;
}

/* ===================== */
